@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Miskatonic University</h1>
    <br />
    <h2 class="text-center">- The only Paranormal Investigator University to investivate the unknown -</h2>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Miskatonic University...</h2>
        <p>
            Miskatonic University is an esteemed institution in the heart of beautiful Arkham, Massachusetts. It's not the most popular school, but it is one of the most prestigious, even if they are a bit secretive.
            Miskatonic is renowned for its Archaeology program, as well as Astrophysic and Cosmic Exploration, but it is also the last bastion of studies that have fallen out of vogue, like Ritual Necromancy, Cocktail Alchemy,
            and Undersea Bloop Studies.
        </p>

        <p><strong>Some of your smarter friends probably went there, but they'll probably only admit it, if you ask them directly.</strong></p>
    </div>
    <div class="col-md-4">
        <h2>A little more about our prestigous university...</h2>
        <p>
            As a symbol of reason, learning, and science, the school represents all that is good, true, and pure in modern civilization — the “us” to the insidious, alien “them” of the Cthulhu Mythos.
            Although Miskatonic is mentioned or figures prominently in most of the stories for the famous auhor H.P. Lovecraft, the college itself remains as ill-defined as many of beasties lurking in the pages of Lovecraft’s fiction.
            While monsters that never shamble into view are often scarier than the ones we can see, Miskatonic University and the professors who walk its halls of ivy and alabaster are part of our “normal” waking world, and can therefore stand up to the light of day.
        </p>

    </div>
    <div class="col-md-4">
        <h2>What Miskatonic University is famous for...</h2>
        <p>
            Miskatonic University is famous for its collection of arcane literature and occult books.
            The library at the university holds one of the few genuine copies of the <em>Necronomicon.</em>
            Other tomes held at the library include the <em>Unaussprechlichen Kulten</em> by Friedrich von Junzt and <em>the fragmentary Book of Eibon</em>.
            Miskatonic has a medical school, as featured in "Herbert West Reanimator".
            Mythos fiction by other authors as well as fan interpretations of Lovecraft's Miskatonic University differ in whether mystical and Mythos studies are covert or overt.
            In the first interpretation, which follows Lovecraftian literary traditions, Miskatonic University is an ordinary university that also harbors secrets and has an unfortunately frequent number of run-ins with Mythos elements.
            In the second, more common in comedic and RPG works (and in Miskatonic University paraphernalia), Mythos and strange elements are overtly displayed at Miskatonic University and form part of its campus cultural identity.
        </p>
    </div>
</div>