
@{
    ViewBag.Title = "Success";
}

<h1 class="text-capitalize text-primary">Success!</h1>
<h2>You have just taken the first step to getting car insurance!</h2>
<p>Thank you for requesting a free car insurance quote from ACME insurance! </p>
<p>One of our Insurance Representatives will reach out to you shortly!</p>

